@import "tailwindcss";
@import "./fonts.css";
@import "./utilities.css";
@import "./scrollbar.css";

@theme {
  --font-galmuri: "Galmuri9";

  --color-text-default: #2d2640;
  --color-text-invert: #fcfcfd;

  --color-base-1: #ffffff;
  --color-base-2: #fbf8ff;
  --color-base-3: #f7f3ff;
  --color-base-4: #e5dbf9;
  --color-base-5: #c9bdef;

  --color-primary: #b2aaeb;
  --color-secondary: #aac1f8;
  --color-accent: #ffb3d9;
  --color-muted: #8e86c3;

  --color-error: #c93636;

  --opacity-disabled: 0.5;

  --scrollbar-size: 16px;
}

.dark {
  --color-text-default: #eae9ff;
  --color-text-invert: #1b1630;

  --color-base-1: #6b6f9a;
  --color-base-2: #5a5e8a;
  --color-base-3: #3a3d5a;
  --color-base-4: #2a2d47;
  --color-base-5: #1a1d35;

  --color-primary: #9088cc;
  --color-secondary: #8aa5d9;
  --color-accent: #e095bf;
  --color-muted: #716aa3;

  --color-error: #ff6b6b;
}

html,
body {
  font-family: var(--font-galmuri);
  color: var(--color-text-default);
  height: 100%;
}

body {
  font-size: 11px;
}

@media (min-width: 768px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 13px;
  }
}

button,
a {
  cursor: pointer;
}

button:disabled,
[aria-disabled="true"] {
  cursor: not-allowed;
}
