@import "tailwindcss";
@import "./fonts.css";
@import "./utilities.css";
@import "./scrollbar.css";

@theme {
  --font-galmuri: "Galmuri9";

  /* 텍스트 */
  --color-text-default: #2d2640;
  --color-text-invert: #fcfcfd;

  /* 표면 */
  --color-surface: #f7f3ff;

  /* 왼쪽 위쪽 밝은 면 */
  --color-bevel-light-outer: #ffffff;
  --color-bevel-light-inner: #fbf8ff;

  /* 오른쪽 아래쪽 그림자 면 */
  --color-bevel-shadow-inner: #e5dbf9;
  --color-bevel-shadow-outer: #c9bdef;

  /* 기본 색상 세트 */
  --color-primary: #b2aaeb;
  --color-secondary: #aac1f8;
  --color-accent: #ffb3d9;
  --color-muted: #8e86c3;

  --color-error: #c93636;
}

.dark {
  /* 텍스트 */
  --color-text-default: #eae9ff;
  --color-text-invert: #1b1630;

  /* 표면 */
  --color-surface: #3a3d5a;

  /* 왼쪽 위쪽 밝은 면 */
  --color-bevel-light-outer: #6b6f9a;
  --color-bevel-light-inner: #5a5e8a;

  /* 오른쪽 아래쪽 그림자 면 */
  --color-bevel-shadow-inner: #2a2d47;
  --color-bevel-shadow-outer: #1a1d35;

  /* 기본 색상 세트 (다크 톤 조정) */
  --color-primary: #9088cc;
  --color-secondary: #8aa5d9;
  --color-accent: #e095bf;
  --color-muted: #716aa3;

  --color-error: #ff6b6b;
}

html,
body {
  font-family: var(--font-galmuri);
  color: var(--color-text-default);
}

body {
  font-size: 13px;
}

@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 15px;
  }
}
