.scrollbar {
  scrollbar-gutter: stable both-edges;
}

/* WebKit */
.scrollbar::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
  background: none;
}

/* Reset */
.scrollbar::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-track {
  border: none;
}

/* Thumb */
.scrollbar::-webkit-scrollbar-thumb {
  @apply bevel-default;
}
.scrollbar::-webkit-scrollbar-thumb:active {
  @apply bevel-pressed;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  @apply bevel-pressed;
}

/* Corner */
.scrollbar::-webkit-scrollbar-corner {
  background-color: var(--color-surface);
}

/* WebKit */
.scrollbar-disabled.scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scrollbar-disabled.scrollbar::-webkit-scrollbar-thumb {
  display: none;
}

.scrollbar-disabled.scrollbar::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: var(--color-bevel-light-inner);
}
